<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta content="phixiv" property="og:site_name" />
    <meta content="article" property="og:type" />
    <meta content="{{ title }}" property="og:title" />
    <meta content="{{ description }}" property="og:description" />
    <meta content="{{ url }}" property="og:url" />
    <meta content="{{ image_proxy_url }}" property="og:image" />
    <meta content="{{ alt_text }}" property="og:image:alt" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta http-equiv="Refresh" content="0; url='{{ url }}'" />
    {% match author_id %}
        {% when Some with (author) %}
            <link rel="alternate" type="application/json+oembed" href="{{ host }}/e?i={{ author }}&n={{ author_name }}">
        {% when None %}
            <link rel="alternate" type="application/json+oembed" href="{{ host }}/e?n={{ author_name }}">
    {% endmatch %}
</head>
<body>
    <a href="{{ url }}">You should have been redirected, here is a link to the original post.</a>
</body>
</html>