<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta content="phixiv" property="og:site_name" />
    <meta content="article" property="og:type" />
    <meta content="{{ title }}" property="og:title" />
    <meta content="{{ description }}" property="og:description" />
    <meta content="{{ url }}" property="og:url" />
    <meta content="https://i.phixiv.net/?url={{ image_url | urlencode_strict }}" property="og:image" />
    <meta content="{{ alt_text }}" property="image:alt" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta http-equiv="Refresh" content="0; url='{{ url }}'" />
    <link rel="alternate" type="application/json+oembed" href="https://oembed.phixiv.net/?url={{ url | urlencode_strict }}">
</head>
<body>
    <a href="{{ url }}">You should have been redirected, here is a link to the original post.</a>
</body>
</html>