<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|escape }}</title>
    <meta content="phixiv" property="og:site_name" />
    <meta content="article" property="og:type" />
    <meta content="{{ title|escape }}" property="og:title" />
    <meta content="{{ description|escape }}" property="og:description" />
    <meta content="{{ url|escape }}" property="og:url" />
    <meta content="{{ image_proxy_url|escape }}" property="og:image" />
    <meta content="{{ alt_text|escape }}" property="og:image:alt" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta http-equiv="Refresh" content="0; url='{{ url|escape }}'" />
    <link rel="alternate" type="application/json+oembed" href="{{ host }}/e?i={{ author_id|escape }}&n={{ author_name|escape }}">
</head>
<body>
    <a href="{{ url|escape }}">You should have been redirected, here is a link to the original post.</a>
</body>git 
</html>